<html>
 
  <head>
    <title>Test Framework</title>

    <style type="text/css" src="/static/bower_components/bootstrap-min.css"></style>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/backbone/backbone-min.js"></script>
    <script src="/static/framework.js"></script>
    <script>

    </script>
  </head>
  
  <body>
    <div class="header">
      <nav class="naviation">
        <ul>
          <li><a>Home</a></li> |
          <li><a>Your Files</a></li>
        </ul>
      </nav>
    </div>

    <div class="content">
      <h1>Testing with this framwork is awesome!</h1>
      <div id="top_bar">

      </div>
      <div id="left_bar">

      </div>
      <div id="drawing_pane">
                
      </div>
      <div id="right_bar">

      </div>
      <div id="bottom_bar">

      </div>
    </div>

    <div class="footer">

    </div>

  </body>

</html>
